<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your camera. Your camera will be used to participate in LiveSwitch audio/video conferences.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your microphone. Your microphone will be used to participate in LiveSwitch audio/video conferences.</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleName</key>
	<string>LiveSwitch Xamarin</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Live Switch Chat</string>
	<key>CFBundleIdentifier</key>
	<string>com.fm.liveswitch.chat.xamarin</string>
</dict>
</plist>
